html {
  padding: 0px;
}

body {   
  padding:0px; padding-top: 0px; margin:0px; background-color:mintcream;
  background-color: #000000;
  background-image: url(/images/stars.gif);
  /*background-image: url(http://a1star.com/images/starsglow1.gif);*/
}

.bbalert {
  text-align: center;
}

.bbalert .fa {
  font-size: 500%;
  padding: 6px;
}

.bbalert .fa-smile-o {
  color: yellow;
  background: rgb(98, 196, 98);
}

.bbalert .fa-frown-o {
  color: white;
  background: darkred;
}

h2{
  color:#D3D3D3;
}

.navbar-brand {
  font-size: 150%;
}

#steps .header {
  text-align: center;  
}

#codeEditorSection {
  margin-top: 10px;
  width: 50%;
  left: 50%;
  position: fixed;
  background-color: #333;
  border: 2px solid #666;
  border-right: none;
  padding-bottom: 10px;
}

#codeEditorSection .header {  
  padding-bottom: 5px;
}

#codeEditorSection.affix-top {
  position: static;
  width: 50%;
}
  
#codeEditorSection.affix {
  position: fixed;
  top:20px;
  width:50%;
}

#codeInput {
  width:98%;
  height:600px;
}

.previewContainer {
  width: 640;
  height: 448;
  display: inline-block;
}

.preview {
  background: black;
  text-align: center;
}

.centered {
  text-align: center;
}

.levelsContainer {
  text-align:center;  
}

.levelsForming {
  background-color:rgba(91, 192, 222, 0.35)
}

.levelsExplore {
  background-color:rgba(248, 148, 6, 0.35)
}

.levelsConquer {
  background-color:rgba(98, 196, 98, 0.35)  
}

.hideElement {
  display: none;
}

.levels {
  padding: 10px;
}

.levelPlay {
  margin: 5px;
  padding: 10px;    
  white-space: normal;
}

#gamePanel {
  text-align: center;
}

#gameContainer {
  margin-top: 5px;
  position: relative;
}

#worldContainer {
  text-align: center;
  position: absolute; 
  display: none;
  left:0; top:0; 
  z-index:1000; 
  width: 640px; 
  height: 448px;
}

.worldMap {
  display: table;
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.worldRow {
  display: table-row;
  border: none;
}

.worldCell {
  position: relative;
  background: transparent;
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
  text-align: center;
  display: table-cell;  
  border-collapse: collapse;
}

.worldCellBorder {
  border: 1px solid lightgray;
}

.worldCellCoords:after {
  position: relative;
  top: 10px;
  content: attr(data-coords);
  padding: 1px;
  font-size: 70%;
  font-weight: bold;
  color: black;
  background-color: white;
  opacity: .8;
}

.game {
  background: black; border:4px solid darkgray;
  z-index: 1;
}

.gameLoading {
  margin-top: 5px;
  border:4px solid darkgray;
  width:640px;
  height:448px;
  display:inline-block;
  min-width:640px;
  min-height:448px;
  /*background-image:url(http://a1star.com/images/starsglow1.gif);  */  
  /*background-image:url(http://media.giphy.com/media/13TDSwIbJEyARa/giphy.gif);*/
  background-image:url(http://media.giphy.com/media/ygAaR0n5RsyAM/giphy.gif);
  background-size: 640px 448px;
}

.explorer {
  padding-top: 3px;
  font-size: 60%;
  color: eggshell;    
}

.entry {
  background-color: darkgray; /*rgb(217, 72, 54)*/
}

strong.line-thru: {
  background-color: darkgray;
}

.alert-info {
  background-color: #8D063A;
}

.tips {
  white-space: normal;
}

.sectionWrapper {
  /* background-color: rgba(96,96,96,0.25); */
}

.lesson-parts {
  background-color: rgba(141,6,58,0.5);
}

.lesson-part {
  padding: 8px;
}

.lesson-continue {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.lesson-sections {
  padding-bottom: 12px;
  background-color: #333;
}

.lesson-sections-nav-line {
  content:"";
  position: absolute;
  z-index: 0;
  top: 75px;
  bottom: 75px;
  left: 50%;
  border-left: 3px inset rgba(0, 0, 0, 0.6);
}

.lesson-section-nav-container {
  margin-bottom: 12px;
}

.lesson-section-nav {
  font-size:55%; 
  text-align:center;
  margin-top: 2px;
  margin-bottom: 0px;
  background: #222;
}

.lesson-section-steps .pagination {
  margin-top: 0px;
}

.sectionNav {
  text-align: center;
}

.sectionNav .badge {
  margin-top: 6px;
}

.nav-tabs > li /*, .nav-pills > li*/ {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs /*, .nav-pills*/ {
    text-align:center;
}