body { 
  padding:0px; padding-top: 0px; margin:0px; background-color:mintcream;
}

h2{
  color:#D3D3D3;
}

.editor {
  width:98%;
  height:350px;
}

.previewContainer {
  width: 640;
  height: 480;
  display: inline-block;
}

.preview {
  background: black;
  text-align: center;
}

#levelsContainer {
  text-align:center;  
}

.hideElement {
  display: none;
}

.levels {
  padding: 10px;
  height: 400;
  overflow: scroll;
}

.levelPlay {
  margin: 5px;
  padding: 10px;    
}

#gamePanel {
  display: none;
  text-align: center;
}

#gameContainer {
  display: none;
}

.game {
  background: black; border:4px solid darkgray;
}