<template name='lessonProgress'>

<div class='container-fluid'>
  <div class='row' style='text-align:center'>
    <h1><span class='label label-warning'><span class='fa fa-search'></span> Lesson: {{lesson.title}}</span></h1>
    <h3>{{description}}</h3>
    <h3><span class='label label-primary'><span class='fa-tags fa'></span> Main topics:</span>
    {{#each lesson.topics_main}}
      <span class='label label-default'>{{this}}</span>
    {{/each}}
    </h3>
    <h4><span class='label label-primary'><span class='fa-tags fa'></span> Sub-topics:</span>
    {{#each lesson.topics_sub}}
      <span class='label label-default'>{{this}}</span>
    {{/each}}
    </h4>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    {{#each lesson.sections}}
      {{> lessonProgress_section}}
    {{/each}}
    </div>
  </div>
</div>

</template>

<template name="lessonProgress_section">
  {{#if mostRecent}}
  <div style='background: darkgreen; padding: 2px; border: 2px solid gold; padding: 5px;'>
    <h2><span class='fa fa-map-marker'></span>&nbsp;<span class='label label-info'><a href='{{lessonSecLink}}'>Section: {{title}}</a></span></h2>
    <h5>{{description}}</h5>
    <small><i>{{lastViewed}}</i></small>
  </div>
  {{else}}
  <h2><span class='label label-info'><a href='{{lessonSecLink}}'>Section: {{title}}</a></span></h2>
  <h5>{{description}}</h5>
  <small><i>{{lastViewed}}</i></small>
  {{/if}}
  <div>
  {{#each parts}}
    {{> lessonProgress_part}}
  {{/each}}
  </div>
</template>

<template name="lessonProgress_part">
  <div><a href='{{lessonSecStepLink}}'><span class='label label-danger'><b>{{index}}:</b> {{title}}</span></a> <small><i>{{lastViewed}}</i></small></div>
</template>