.lesson-progress-section-most-recent {
	background: #222;
	border: 2px solid gold;
	padding: 5px;
	margin-bottom: 8px;
}

.lesson-progress-section-most-recent h2 {
	margin-top: 0px;
}

.fa-map-marker {
	color: green;
}

.lesson-progress-part {
	margin-bottom: 4px;
}

.lesson-progress-part-users {
	float: right;
}

.lesson-progress-part-users .dropdown-menu {
	font-size: 85%;
}

.lesson-progress-part-assessments {
	margin-left: 6px;
}