.sortable {
  padding:3px;
  background:white; 
  color:black; 
  font-weight:bold;
}

.sortable code {
  display: block;
  margin: 0;
  padding: 2px;
  border: 1px solid ghostwhite;
  cursor: move;
}

.sortable code .fa-arrow-up {
  cursor: pointer;
  margin-right: 3px;
  padding-right: 5px;
}

.sortable code .fa-arrow-down {
  cursor: pointer;
  margin-left: 3px;
  margin-left: 5px;
  float: right;
}