<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<template name='intergalactiChat'>
  <style>
@media (min-width: 768px){
  .left {
    position: absolute;
    top: 0px;
    padding-top: 8px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll;
  }

  .right {
    position: absolute;
    top: 0;
    padding-top: 8px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }
}

.left {
  height:100%;
}

.right {
  height:100%;
  background-color: black;
}
  </style>
  <section class='container-fluid'>
    <div class='row'>
      <div class='col-md-10 left' style='overflow-y: scroll; min-height:100%'>
          <h2 style='margin-top: 0px' class='centered'><span class='label label-info'><span class='fa fa-comments-o'></span> IntergalactiChat</span></h2>
        <ul class='list-group'>
          {{#each messages}}
            {{> intergalactiChat_message}}
          {{/each}}
        </ul>
      </div>
      <div class='col-md-2 right'>
        <div class="panel panel-default">
          <div class='panel-heading centered'><h4 style='margin-top: 0px'><span class='label label-primary'><span class='fa fa-user'></span> Explorers Online</span></h4></div>
          <!-- <div class="panel-body"></div> -->
          <ul class='list-group'>
            {{#each members}}
            <li class='list-group-item list-group-item-info'><span class='label label-primary'>{{this}}</span></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<template name='intergalactiChat_message'>
  <li class='list-group-item'><span class="label label-warning">{{userName}}</span> {{text}} <small class='text-muted'>{{dateStamp}}</small></li>
</template>