<template name='game'>
  <div id='gamePanel' class='{{showIfGameOpen}}'>
    {{#if linkEnabled}}
    <h1 class='currentGameName'><span class='label label-warning'>{{name}} <span class='fa fa-flag-checkered'></span></span></h1>
    <h4>Explored by: <span class='label label-info'>{{> profileLink name=userName target='_blank'}}</span></h4>
    {{/if}}
    <div class='{{hideIfGameLoading}}'>
      <div class='btn-group btn-group-sm'>
        <button class='btn btn-warning gamePause {{allowed "gamePause"}} {{hideIfPaused}} {{hideIfGameComplete}}'><span class='fa fa-pause'></span> Pause</button>
        <button class='btn btn-success gamePlay {{allowed "gamePlay"}} {{hideIfPlaying}} {{hideIfGameComplete}}'><span class='fa fa-play'></span> Play</button> 
        <button class='btn btn-danger gameReset {{allowed "gameReset"}} {{hideIfGameComplete}}'><span class='fa fa-refresh'></span> Reset</button>
        <button class='btn btn-primary gameReset {{allowed "gameReset"}} {{showIfGameComplete}}'><span class='fa fa-play'></span> Play again!</button>
        {{#if currentUser}}
          {{#if userOwnsCurrentLevel}}
          <button class='btn btn-warning customize {{allowed "customize"}}'><span class='fa fa-gears'></span> Customize</button>
          {{/if}}
        {{/if}}
        <button class='btn btn-info gameCodeShow'><span class='fa fa-code'></span> View Code</button>
        <button class='btn btn-danger gameCodeHide'><span class='fa fa-code'></span> Hide Code</button>
        {{#if currentUser}}
          <button class='btn btn-success fork {{allowed "fork"}}'><span class='fa fa-code-fork'></span> Fork World</button>
        {{/if}}        
      </div>
      <div id='gameContainer' class='{{hideIfGameComplete}}'>
        <div id="worldContainer" class='worldMap'>
          {{#each worldRows}}
          <div class='worldRow'>
            {{#each this}}
            <span class='worldCell' data-coords='{{row}},{{col}}'>&nbsp;</span>
            {{/each}}
          </div>
          {{/each}}
        </div>
        <canvas id='game' class='game' width='640' height='448'></canvas>
        <div class='game-worldScript-container'>
          <div id='game-worldScript'></div>
        </div>
      </div>
      {{#if linkEnabled}}
      <section class='play-link'>
          <h3><span class='label label-info'>Share Link <span class='fa fa-link'></span></span></h3>
          <input type='text' class='play-link-href' />
          <div class='play-link-copy-message'><small>Ctrl+C or Cmd+C to copy</small></div>
      </section>
      {{/if}}
      <div id='chat' class='chat {{showIfChatEnabled}}'>
        <textarea id='chatEditor'></textarea>
        <br />
        <button class='btn btn-primary chatSend'><span class='fa fa-bullhorn'></span> Send</button>
        <hr />
        {{#each messages}}
        <div><span class='label label-info'><span class='fa fa-comment-o'></span> {{user}}</span> {{{message}}}</div>
        {{/each}}
      </div>
    </div>
    <div class='{{showIfGameLoading}}' style='text-align:center'>
      <div class='gameLoading'>&nbsp;</div>
    </div>
  </div>  
</template>