.play-link-href {
	background: #333;
	width: 425px;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

.play-link-copy-message {
	font-weight: bold;
	font-size: 80%;
}

#game_container {
	display: inline-block;
}

.game-worldScript-container {
	display: inline-block;
	vertical-align: top;
}

#game-worldScript {
	border: 2px solid darkgray;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 448px;
	width: 640px;
	text-align: left;
	display: none;
}

.gameCodeHide {
	display: none;
}
