.spaceMinerWorld {
  text-align: center;
}

.spaceMinerWorld .smw-container {
  text-align: center;
}

.spaceMinerWorld .smw-containerBorder {
  border: 2px solid #333;
  border-collapse: collapse;
}

.spaceMinerWorld .smw-world {
  display: table;
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.spaceMinerWorld .smw-row {
  display: table-row;
  border: none;
}

.spaceMinerWorld .smw-cell {
  position: relative;
  background-color: black;
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  text-align: center;
  display: table-cell;
  border-collapse: collapse;
}

.spaceMinerWorld .smw-cellBorder {
  border: 2px solid #333;
  border-collapse: collapse;
}

.spaceMinerWorld .smw-cellCoords:after {
  position: relative;
  top: 8px;
  content: attr(data-coords);
  padding: 1px;
  font-size: 60%;
  font-weight: bold;
  color: black;
  background-color: white;
  opacity: .6;
}