<template name='key'>
<div class='panel panel-info'>
	<div class='panel-heading'>
		<h3 class='panel-title key-heading'><span class='fa fa-key'></span><span class='key-heading-label'>key</span></h3>
	</div>
	<div class='panel-body'>
		<h2 class='label label-warning key-name'>{{name}}</h2>
		{{{text}}}
		{{#if hrefs}}
		<div class='list-group key-learn-more-list'>
		  <div href='#' class='list-group-item'>
		    <h4 class='key-learn-more-label'><span class='label label-primary'>Learn More</span></h4>
		    <p class='list-group-item-text key-learn-more-href'><span class='fa fa-caret-right'></span>&nbsp;<a href='{{hrefs}}' target='_blank'>{{hrefs}}</a></p>
		  </div>
		</div>
		{{/if}}
	</div>
</div>
</template>