.key-heading {
	text-transform: uppercase;
}

.key-heading-label {
	padding-left: 5px;
}

.key-name {
	font-size: 125%;
}

.key-learn-more-list {
	margin-top: 20px;
}

.key-learn-more-label {
	margin-top: 0px;
}

.key-learn-more-href {
	margin-left: 5px;
}