<template name="levelCustomize">
  <div>
    <h1>Customize your level</h1>
    
    <ul class="nav nav-tabs" role="tablist">    
      <li class="active"><a href="#sprites" role="tab" data-toggle="tab">Select sprites</a></li>
      <li><a href="#map" role="tab" data-toggle="tab">Edit map</a></li>
      <li><a href="#codeEnemy" role="tab" data-toggle="tab">Enemy collision</a></li>
      <li><a href="#codeCoin" role="tab" data-toggle="tab">Coin pick up</a></li>      
      <li><a href="#codeGem" role="tab" data-toggle="tab">Gem rescue</a></li>      
      <li><a href="#save" role="tab" data-toggle="tab">Save</a></li>
    </ul>

    <div class="tab-content">     
      <div class="tab-pane active" id="sprites">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h2>Select sprites</h2>
              {{> sprites}}
            </div>
            <div class="col-md-8">
              <h2>Preview</h2>
              {{> boardPreview}}
            </div>
          </div>
        </div>
      </div>
      
      <div class="tab-pane" id="map">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h2>Edit map</h2>
              Now you can customize how your level is mapped out.              
              <div class="editor" id="levelBoard">{{level.board}}</div>
            </div>
            <div class="col-md-8">
              <h2>Preview</h2>
              {{> boardPreview}}
            </div>
          </div>
        </div>
      </div>      
      
      <div class="tab-pane" id="codeEnemy">
        Now you get to write some code to complete your level. This program, like many programs, is made up of <a href="todo">objects</a>. Objects contain <a href="todo">functions</a> and <a href="todo">properties</a>. There is an object called <code>game</code>. The <code>game</code> contains several functions: pause, unpause, reset, playSound, showMessage. It also has one property: player. Player has several functions: getScore, incScore, decScore, getLives, incLives, decLives.
        <div class="editor" id="codeEnemyEditor">{{level.onEnemyHit}}</div>
      </div>
      
      <div class="tab-pane" id="codeCoin">
        <div class="editor" id="codeCoinEditor">{{level.onCoinHit}}</div>
      </div>
      
      <div class="tab-pane" id="codeGem">
        <div class="editor" id="codeGemEditor">{{level.onGemHit}}</div>        
      </div>      

      <div class="tab-pane" id="save">
        <h2>Name</h2>
        Finally, give your level a fun name!
        <br />
        <input type="text" id="levelName" placeholder="Level name" required />
        <br />
        <button class="btn btn-success save">Save!</button>
      </div>
    </div>
  </div>  
</template>

<template name="sprites">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
      {{#each spriteParts}}
      <div class="panel-heading">
        <div>
          <a class="btn btn-success" data-toggle="collapse" data-parent="#accordion" href="#{{part}}">
            {{part}} &raquo;
          </a>
          <img src="images/spriteParts/{{selected}}" data-parent="{{../_id}}" />
            <br />
        </div>
        <div id="{{part}}" class="panel-collapse collapse">
          <div class="panel-body row">
            {{#each choices}}
            <div class="btn-group">
              <button type="button" class="btn btn-default">
                <img src="images/spriteParts/{{this}}" data-parent="{{../_id}}" />
              </button>
              <br />
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="boardPreview">
  <div class="previewContainer">
    {{#if hasBoardJson}}
      {{#each boardMappedToSprites}}<div class="preview">{{#each this}}<img src="images/spriteParts/{{this}}" />{{/each}}</div>{{/each}}
    {{else}}
      Oops, we couldn't render your preview! Is your map array correct?
    {{/if}}
  </div>
</template>