<template name="levelCustomize">
  <div>
    <h1>Customize your level</h1>
    
    <ul class="nav nav-tabs" role="tablist">    
      <li class="active"><a href="#map" role="tab" data-toggle="tab">Edit map</a></li>
      <li><a href="#codeEnemy" role="tab" data-toggle="tab">Enemy collision</a></li>
      <li><a href="#codeCoin" role="tab" data-toggle="tab">Coin pick up</a></li>      
      <li><a href="#codeGem" role="tab" data-toggle="tab">Gem rescue</a></li>      
      <li><a href="#save" role="tab" data-toggle="tab">Save</a></li>
    </ul>

    <div class="tab-content">     
      <div class="tab-pane active" id="map">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h2>Select sprites</h2>
              {{> sprites}}
            </div>
            <div class="col-md-8">
              <h2>Preview</h2>  
              <div class="previewContainer"></div>
              <hr />              
              <div class="panel-group" id="codeMap">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-parent="#codeMap" href="#codeMapEditor">
                        Advanced: Code Editor
                      </a>
                    </h3>
                  </div>
                  <div id="codeMapEditor" class="panel-collapse collapse">
                    <button class='btn tilesRow2'>Make row 2 all tiles</button>
                    <div class="panel-body">
                      <div class="editor" id="levelBoard"></div>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="tab-pane" id="codeEnemy">
        Now you get to write some code to complete your level. This program, like many programs, is made up of <a href="todo">objects</a>. Objects contain <a href="todo">functions</a> and <a href="todo">properties</a>. There is an object called <code>game</code>. The <code>game</code> contains several functions: pause, unpause, reset, playSound, showMessage. It also has one property: player. Player has several functions: getScore, incScore, decScore, getLives, incLives, decLives.
        <div class="editor eventHandler" id="onEnemyHit"></div>
      </div>
      
      <div class="tab-pane" id="codeCoin">
        <div class="editor eventHandler" id="onCoinHit"></div>
      </div>
      
      <div class="tab-pane" id="codeGem">
        <div class="editor eventHandler" id="onGemHit"></div>        
      </div>      

      <div class="tab-pane" id="save">
        <h2>Name</h2>
        Finally, give your level a fun name!
        <br />
        <input type="text" id="levelName" placeholder="Level name" required />
        <br />
        <button class="btn btn-success save">Save!</button>
      </div>
    </div>
  </div>  
</template>

<template name="sprites">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
      {{#each spriteParts}}
      <div class="panel-heading">
        <div>
          <a class="btn btn-success" data-toggle="collapse" data-parent="#accordion" href="#{{part}}">
            {{part}} &raquo;
          </a>
          <img src="images/spriteParts/{{selected}}" data-parent="{{../_id}}" />
            <br />
        </div>
        <div id="{{part}}" class="panel-collapse collapse">
          <div class="panel-body row">
            {{#each choices}}
            <div class="btn-group">
              <button type="button" class="btn btn-default">
                <img class="spriteChoice" src="images/spriteParts/{{this}}" data-parent="{{../_id}}" />
              </button>
              <br />
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  
  <div class="modal fade" id="tileDialog" tabindex="-1" role="dialog" aria-labelledby="tileDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="tileDialogLabel">Select tile</h4>
        </div>       
        
        <div class="modal-body">          
          <img id="tileTile" class="tileSelector" data-spriteNum="1" />&nbsp;
          <img id="tileCoin" class="tileSelector" data-spriteNum="0" />&nbsp;
          <img id="tileGem" class="tileSelector" data-spriteNum="2" />&nbsp;
          <img id="tileEnemy" class="tileSelector" data-spriteNum="3" />&nbsp;
          <img id="tilePlayer" class="tileSelector" data-spriteNum="4" />&nbsp;
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>  
</template>