<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=640, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
  <title>Space Miner!</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src='//cdn.jsdelivr.net/quintus/0.2.0/quintus.min.js'></script>
  <!--
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">  
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>  
  -->
</head>

<template name="home">
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class='fa fa-fighter-jet'></span> Space Miner!</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Play <span class='fa fa-gamepad'></span></a></li>
            <li><a href="/members">Members <span class='fa fa-users'></span></a></li>
            {{#if currentUser}}
            <li><a href="/lessons" target="_blank">Lessons <span class='fa fa-graduation-cap'></span></a></li>
            <li><a href="/build">Build World <span class='fa fa-globe'></span></a></li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{> accountButtons }}
          </ul>
      </div>
  </div>
  <div class='container-fluid'>
    <div class='row {{hideIfGameVisible}}'>
      <div class='col-md-12 centered'>
      {{#if levelId}}
      <button class='btn btn-sm btn-primary gameShow'>Resume current game <span class='fa fa-chevron-right'></span></button>
      {{/if}}    
      </div>
    </div>
    <div class='row'>
      <div class='col-md-4'>
      {{> levelsConquer}}        
      </div>      
      <div class='col-md-4'>
      {{> levelsExplore}}
      </div>
      <div class='col-md-4'>
      {{> levelsForming}}        
      </div>      
    </div>
    <div class='row'>
      <div class='col-md-12'>
      {{#if levelId}}
        {{> game level=levelId chatEnabled=true}}
      {{/if}} 
      </div>
    </div>
  </div>
</template>

<template name="levelsConquer">
  <div class='levelsContainer {{hideIfGameVisible}}'>
    <h1><span class='label label-success'><span class='fa fa-trophy'></span> Worlds to conquer!</span></h1>
    <h3>Miners, come conquer these worlds!</h3>
    <div class="levels levelsConquer container-fluid">
    {{#each levels}}
      {{> level}}
    {{/each}}
    </div>
  </div>
</template>

<template name="levelsExplore">
  <div class='levelsContainer {{hideIfGameVisible}}'>
    <h1><span class='label label-warning'><span class='fa fa-cubes'></span> Worlds to explore</span></h1>
    <h3>Help explorers test their mines...</h3>
    <div class="levels levelsExplore container-fluid">
    {{#each levels}}
      {{> level}}
    {{/each}}
    </div>
  </div>
</template>

<template name="levelsForming">
  <div class='levelsContainer {{hideIfGameVisible}}'>
    <h1><span class='label label-info'><span class='fa fa-flag-o'></span> Worlds still forming</span></h1>
    <h3>Explorers are busy building mining operations...</h3>
    <div class="levels levelsForming container-fluid">
    {{#each levels}}
      {{> level}}
    {{/each}}
    </div>
  </div>
</template>

<template name="level">
  <button class="col-md-5 btn btn-lg levelPlay btn-{{randomBackgroundColor}}">{{name}}{{{version}}}<br/>{{{preview}}}<div class='explorer'>{{explorer}}</div>{{{edit}}}</button>
</template>