<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=640, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
  <title>Space Miner!</title>
  <script src='//cdn.html5quintus.com/v0.2.0/quintus-all.js'></script>
</head>

<template name="home">  
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">Space Miner!</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons }} <!-- here -->
          </ul>
      </div>
  </div>  
  <table border="0" cellpadding="10">
    <tr valign='top'>
      <td>
        {{> levels}}
      </td>
      <td>        
        <div style='background: black; border:4px solid darkgray;'><canvas id='towermanGame' width="640" height="640"></canvas></div>
        <div><button class='btn btn-success customize'>Customize Level</button></div>        
      </td>
    </tr>
  </table>
</template>

<template name="levels">
  <div>
    <h1>Levels</h1>
    {{#each levels}}
      <div><button class="btn btn-success levelPlay">{{this.name}}</button></div>
    {{/each}}
  </div>
</template>