<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=640, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
  <title>Space Miner!</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <!-- <script src='//cdn.html5quintus.com/v0.2.0/quintus-all.js'></script> -->
  <script src='//cdn.jsdelivr.net/quintus/0.2.0/quintus.min.js'></script>
</head>

<template name="home">
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class='fa fa-fighter-jet'></span> Space Miner!</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Play <span class='fa fa-gamepad'></span></a></li>
            <li><a href="/members">Members <span class='fa fa-users'></span></a></li>        
            {{#if currentUser}}            
            <li><a href="/build">Build World <span class='fa fa-globe'></span></a></li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons }}
          </ul>
      </div>
  </div>  
  {{> levels}}
  {{#if levelId}}
    {{> game levelId}}
  {{/if}}
</template>

<template name="levels">
  <div id='levelsContainer' class='{{hideIfGameVisible}}'>
    <h1>Conquer all worlds!</h1>
    {{#if levelId}}
      <button class='btn btn-sm btn-info gameShow'>Resume current game <span class='fa fa-chevron-right'></span></button>
    {{/if}}
    <div class="levels container-fluid">
    {{#each levels}}
      {{> level}}
    {{/each}}
    </div>
  </div>
</template>

<template name="level">
  <button class="col-md-2 btn btn-lg levelPlay btn-{{randomBackgroundColor}}">{{name}}{{{version}}}{{{phase}}}<br/>{{{preview}}}</button>
</template>