<template name='create'>
  <div role='tabpanel' class='create'>
    <!-- Nav tabs -->
    <ul class='nav nav-tabs' role='tablist' id='gameTabsNav'>
      <li role='presentation' class='active'><a href='#codeEditorTab' role='tab' data-toggle='tab'><span class='fa fa-code'></span> Code Editor</a></li>
      {{#if customSpritesEnabled}}
      <li role='presentation'><a href='#customSpritesTab' role='tab' data-toggle='tab'><span class='fa fa-fighter-jet'></span> Customize Sprites</a></li>
      {{/if}}
    </ul>
    <!-- Tab panes -->
    <div class='tab-content'>
      <div role='tabpanel' class='tab-pane active' id='codeEditorTab'>
        <div class='header'>
          {{#if buttonEnabled 'update'}}
          <button class='btn btn-success btn-sm' id='update'><span class='fa fa-refresh'></span> Update & preview world</button>
          {{/if}}
          {{#if buttonEnabled 'test'}}          
          <button class='btn btn-danger btn-sm' id='test'><span class='fa-bug fa'></span> Send world to test</button>
          {{/if}}
          {{#if buttonEnabled 'release'}}          
          <button class='btn btn-info btn-sm' id='release'><span class='fa fa-flag-checkered'></span> Release world!</button>
          {{/if}}
        </div>
        <div id='codeInput'></div>
      </div>
      {{#if customSpritesEnabled}}      
      <div role='tabpanel' class='tab-pane' id='customSpritesTab'>
        <div class='header'>
          <h3>Choose from the gallery or upload a new custom sprite:</h3>
        </div>
        {{#each customSpriteTypes}}
          <input id='file-input-{{this}}' type='file' class='upload-hidden' />
        {{/each}}
        <div class='customSprites'>
          {{#with gameUpdated}}
          {{#each customSpriteTypes}}
          <div class='customSprite custom-{{this}} panel panel-default'>
            <div class='panel-heading header-image'>
              <h3 class='panel-title'>{{this}}</h3> <div class='spriteImage'><img src='{{spriteFor this}}' /></div>
            </div>
            <div class='panel-body'>
              <div>
                <div class='upload-sprite-container'>
                  <button class='btn btn-xs btn-primary' {{fileSelect}}>Choose new file <span class='fa fa-file-image-o'></span></button><span id='file-selected-{{this}}' class='file-selected hide'></span><button class='btn btn-xs btn-success upload-sprite' {{fileUpload}} disabled>Upload <span class='fa fa-upload'></span></button>
                </div>&nbsp;<b>or</b>&nbsp;<button class='btn btn-xs btn-info' {{galleryShow}}>Choose from gallery</button>&nbsp;<b>or</b>&nbsp;<button class='btn btn-xs btn-warning' {{fileDefault}}>Reset Default <span class='fa fa-archive'></span></button>
                {{#if galleryEnabled}}
                <div class='build-sprite-gallery'>
                  {{> customSprites customSpriteType=this onSelected=spriteSelect}}
                </div>
                {{/if}}
              </div>
            </div>
          </div>
          {{/each}}
          {{/with}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>