code {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}  
    
.gameHeader h2 {
  color: gold;
}

.gameHeader h4 {
  color: silver;
}

.gameHeader div {
  color: skyblue;
}

#worldSection {
  /*background-image: url(http://a1star.com/images/shimmering-multistars.gif);*/
  background-image: url(http://a1star.com/images/starsglow1.gif);
  text-align: center;
}

.header {
  padding-top: 4px;
}

.create .nav-tabs {
    text-align: left
}

.create #codeEditorTab {
  text-align: left;
}

.create #codeInput { 
  margin-top: 4px;
  border: 2px solid darkgray;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 600px;
  text-align: left;
}

.create .tab-content {
  background-color: rgb(62, 68, 76);
  padding-left: 4px;
  padding-right: 4px;
}

.instructionsHide, .instructionsShow {
  margin-top: 4px;
}

#update, #next {
  margin-top: 3px;
}

.worldContainer {
  text-align: center;
}

.worldMap {
  display: table;
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.worldRow {
  display: table-row;
  border: none;
}

.worldCell {
  position: relative;
  background-color: black;
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  text-align: center;
  display: table-cell;  
  border-collapse: collapse;
}

.worldCellBorder {
  border: 1px solid lightgray;
}

.worldCellCoords:after {
  position: relative;
  top: 10px;
  content: attr(data-coords);
  padding: 1px;
  font-size: 70%;
  font-weight: bold;
  color: black;
  background-color: white;
  opacity: .8;
}
    
.stepNew {
  margin-bottom: 5px;
}
    
.tips {
  font-size: 75%;
  font-weight: bold;  
}    
 
.observations {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #111;
  color: white;  
}
        
.observation .explanation {
  background: #111;
}
    
.observation .explanationText {
  padding: 5px;
  color: white;
} 

.customSprites {
  text-align: center;
}

.customSprite {
  background: black;
  color: white;
  border: 1px solid #333;
  text-align: center;
  padding-bottom: 10px;
}

.customSprites .active {
  border: 2px ridge silver;
}

.customSprite .file-selected {
  background: midnightblue;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;  
  color: silver;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
}

.upload-sprite-container {
  background: #666;
  padding: 5px;
  display: inline-block;
}

.upload-sprite {
  margin-left: 2px;
}

.header-image {
  position: relative;
}

.header-image .spriteImage {
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
  background: #666;
  display: inline-block;
  vertical-align: middle;
}

.header-image h3 {
  display: inline-block;
  vertical-align: middle;
}

#sprite-file {
  display: inline-block;
}

.upload-hidden {
  opacity:0;
  height:0px;
  width:0px;
}

.build-sprite-gallery {
  margin-top: 8px;
}
