.customSprites-details-dialog .modal-title {
	text-align: center;
}

.customSprites-details-dialog button[data-bb-handler='cancel'] {
	display: none;
}

.customSprites-details-copy-message {
	font-weight: bold;
	font-size: 80%;
}

.customSprites-details {
	margin-top: 6px;
	font-size: 80%;
}

.customSprites-container {
	text-align: center;
	position: relative;
	display: inline-block;
	padding: 16px;
	border: 1px solid silver;
	margin: 4px;
	background: #333;
}

.customSprites-sprite {
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  background: #666;
  display: inline-block;
  vertical-align: middle;
}