<template name='editorProgram'>
  <div class='well well-sm editorProgram'>
    <h4>Code</h4>
    <p class='ePrg-commands'>
      <button class="execute btn btn-sm btn-success"><i class="fa fa-play" style="margin-top: 2px"></i> Execute</button>
      <button class='btn btn-sm btn-warning changesSave'><span class='fa fa-save'></span> Save Changes</button>
      <button class='btn btn-sm btn-danger changesTrash' id='release'><span class='fa fa-trash-o'></span> Trash Changes</button>
    </p>
    <p>
      <div id="{{getId}}" class="ePrg-editor"></div>
    </p>
    <div class='ePrg-outputContainer'>
      <h4>Output</h4>
      <button class='clear btn btn-info btn-sm'><i class="fa fa-eraser"></i> Clear Output</button>
      <p>
        <pre class='ePrg-preOutput'><code class='ePrg-output'></code></pre>
      </p>
    </div>    
  </div>
</template>