.editorProgram pre code:read-write:focus {
  outline: none;
}

.editorProgram .editable {
  background: #eee;
  border: 1px solid #aaa;
  padding: 3px;
  margin-bottom: 5px;
}

.editorProgram .ePrg-editor {
  width:98%;
  height: 100px;
}

.editorProgram .ePrg-commands {
 /* nothing */
}

.editorProgram .ePrg-preOutput {
  background: black;
  color: #fefefe;  
}

.editorProgram .ePrg-output {
   font-weight: bold;
}