<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=600, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
  <title>Space Miner!</title>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
  <link rel='stylesheet' href='lib/sandbox.css' />  
  <style type='text/css'>   
body {
  background-color: black;
}
#sandbox {
  margin: 0;
}    
  </style>
</head>
<body>  
  <div id="sandbox">sandbox console loading...</div>  
	<!-- The sandbox template: -->
	<script type="text/template" id="tplSandbox">
		<pre class="output"></pre>
		<div class="input">
			<textarea rows="1" placeholder="<%= placeholder %>"></textarea>
		</div>
	</script>  
	<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
	<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<%if (! resultHidden) {%><span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } } %></script>  
  <script src='/lib/_.min.js' type='text/javascript'></script>
  <script src='/lib/backbone.min.js' type='text/javascript'></script>
  <script src='/lib/backbone-localStorage.min.js' type='text/javascript'></script>
  <script src='/lib/jquery.min.js' type='text/javascript'></script>  
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>  
  <script src='/lib/sandbox-console.js' type='text/javascript'></script>  
	<script type="text/javascript">
		$(document).ready(function($) {
			// Create the sandbox:
			var model = new Sandbox.Model({
				iframe : true,  // evaluate commands inside a hidden iframe (default: false)
				fallback : true // use global eval if iframe isn't available (default: true)
			});
      
      /*
      model.events({ 
        commandSent: function(command) {
          return { correct : command === 'faveColor' };
        }
      });
      */
			window.sandbox = new Sandbox.View({
				el : $('#sandbox'),
				model : model,
        placeholder: ' '
			});
      
      if (top.game !== undefined) window.sandbox.model.iframeEval("Object.defineProperty(this, 'game', { get: function() { return top.game; } } )");
		});
	</script>
</body>
</html>