<template name="members">
  <div class='container-fluid'>
    <div class='row'>
      {{#each members}}
      <button class="col-md-2 btn btn-lg btn-{{randomBackgroundColor}}">
      <h3><span class='label label-{{randomBackgroundColor}}'><span class='fa fa-{{randomIcon}}'></span>
      {{#if profile.nickName}}
        <!-- <a href='/profile/{{profile.nickName}}'>{{profile.nickName}}</a> -->
        {{> profileLink name=profile.nickName target='_self'}}
      {{else}}
        <!-- <a href='/profile/{{profile.name}}'>{{profile.name}}</a> -->
        {{> profileLink name=profile.name target='_self'}}
      {{/if}}
      </span></h3>
      </button>
      {{/each}}
    </div>
  </div>
</template>