<template name='selfAssessment'>
<div data-toggle='buttons' class='self-assessment-buttons'>
  <h4><span class="label label-default self-assessment-mastery-label"><span class='fa fa-line-chart'></span> I'm Mastering:</span></h4>
  <label class='btn btn-danger self-assessment-button self-assessment-understand not btn-sm'>
    <input type='radio' name='understand' value='not' /> Little <span class='fa fa-frown-o'></span>
  </label>
  {{#if not}}
  <div class='btn-group self-assessment-help-options'>
    <h6><span class='label label-warning'>Want help? <span class='fa fa-life-saver'></span></span></h6>
    <label class='btn btn-info btn-xs not-help self-assessment-help-option {{activeFor "wants-help-yes"}}'>
      <input type='radio' name='not-help-options' /> Yes <span class='fa fa-hand-stop-o'></span>
    </label>
    <label class='btn btn-danger btn-xs not-help-cancel self-assessment-help-option {{activeFor "wants-help-no"}}'>
      <input type='radio' name='not-help-options' /> Not now <span class='fa fa-ban'></span>
    </label>
  </div>
  {{/if}}
  <label class='btn btn-warning self-assessment-button self-assessment-understand almost btn-sm'>
    <input type='radio' name='understand' value='almost' /> Some <span class='fa fa-meh-o'></span>
  </label>
  {{#if almost}}
  <div class='btn-group self-assessment-help-options'>
    <h6><span class='label label-warning'>Want help? <span class='fa fa-life-saver'></span></span></h6>
    <label class='btn btn-info btn-xs almost-help self-assessment-help-option {{activeFor "wants-help-yes"}}'>
      <input type='radio' name='almost-help-options' /> Yes <span class='fa fa-hand-stop-o'></span>
    </label>
    <label class='btn btn-danger btn-xs almost-help-cancel self-assessment-help-option {{activeFor "wants-help-no"}}'>
      <input type='radio' name='almost-help-options' /> Not now <span class='fa fa-ban'></span>
    </label>
  </div>
  {{/if}}
  <label class='btn btn-success self-assessment-button self-assessment-understand yes btn-sm'>
    <input type='radio' name='understand' value='yes' /> Most! <span class='fa fa-smile-o'></span>
  </label>
  {{#if yes}}
  <div class='btn-group self-assessment-help-options'>
    <h6><span class='label label-warning'>Will you help? <span class='fa fa-life-saver'></span></span></h6>
    <label class='btn btn-success btn-xs i-can-help self-assessment-help-option {{activeFor "will-help-yes"}}'>
      <input type='radio' name='not-help-options' /> Yes <span class='fa fa-life-saver'></span>
    </label>
    <label class='btn btn-danger btn-xs i-can-help-cancel self-assessment-help-option {{activeFor "will-help-no"}}'>
      <input type='radio' name='not-help-options' /> Not now <span class='fa fa-ban'></span>
    </label>
  </div>
  {{/if}}
</div>
</template>