.program pre code:read-write:focus {
  outline: none;
}

.program .editable {
  background: #eee;
  border: 1px solid #aaa;
  padding: 3px;
  margin-bottom: 5px;
}

.program .prg-editor {
  width:98%;
  height: 100px;
}