<template name='program'>
<div class='well well-sm program'>
  <pre><code class='code'>{{{script}}}</code><div style="float:right"><button class="execute btn btn-success btn-sm"><span class="command">Execute</span> <i class="fa fa-square-o unexecuted" style="margin-top: 2px"></i></button>&nbsp;<button class="reset btn btn-info btn-sm">Reset <i class="fa fa-undo"></i></button></div></pre>
  <pre style='background: black; color: #fefefe; display:none;' class='displayContainer'><code class='display' style='font-weight:bold;'></code></pre>
</div>
</template>