<template name='program'>
<div class='well well-sm program'>
  <div id="{{getId}}" class="prg-editor"></div>
  <br />
  <button class="execute btn btn-success btn-sm"><span class="command">Execute</span> <i class="fa fa-square-o unexecuted" style="margin-top: 2px"></i></button>&nbsp;<button class="reset btn btn-info btn-sm">Reset <i class="fa fa-undo"></i></button> 
  <br />
  <div class='displayContainer' style='display:none'>
    <h3>Output</h3>
    <pre style='background: black; color: #fefefe;'><code class='display' style='font-weight:bold;'></code></pre>
  </div>    
</div>
</template>