<template name='mainLayout'>
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class='fa fa-fighter-jet'></span> Space Miner!</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Play <span class='fa fa-gamepad'></span></a></li>
            <li><a href="/members">Members <span class='fa fa-users'></span></a></li>        
            {{#if currentUser}}            
            <li><a href="/build">Build World <span class='fa fa-globe'></span></a></li>
            {{/if}}            
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons }} <!-- here -->
          </ul>
      </div>
  </div>  
  <div>
  {{> yield}}
  </div>  
</template>