<template name='lesson'>
  <div class='container-fluid lesson'>
    <section class='row'>
      <article class='lesson'>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-sm-2 lesson-sections'>
              <h2 style='text-align: center; margin-top: 12px; margin-bottom: 16px;'><span class='label label-warning'><span class='fa fa-folder'></span>&nbsp;Sections</span></h2>
               <div style='overflow-y: scroll; max-height: 500px; padding-right: 16px;'>
                <div class='lesson-sections-nav-line'></div>
                <ul class='nav nav-pills nav-stacked'>
                  {{#each lesson.sections}}
                  {{> sectionNav}}
                  {{/each}}
                </ul>
              </div>
            </div>
            <div class='col-sm-8'>
              {{#each lesson.sections}}
              {{> section}}
              {{/each}}
            </div>
            <div class='col-sm-2 lesson-mastery-zone'>
              <h3 class='lesson-mastery-zone-label'><span class='label label-info'><span class='fa fa-lightbulb-o'></span> Mastery Zone</span></h3>
              {{#if rendered}}
              {{#unless isQuiz}}
                <div class='row lesson-self-assessment'>
                {{> selfAssessment resourcePath=selfAssessmentResourcePath data=selfAssessmentData selected=onAssessmentSelected}}
                </div>
                <hr />
                <div class='lesson-mastery-zone-help-requests'>
                  <h4><span class="label label-default"><span class='fa fa-child'></span> Help Requests</span></h4>
                  <p>Monitor and jump to all your requests:</p>
                  {{> lessonStepUsers options=helpRequestsOptions}}
                </div>
              {{else}}
                No help during quizzes!
              {{/unless}}
              {{/if}}
            </div>
          </div>
        </div>
      </article>
    </section>
    {{#if rendered}}
      {{#unless isQuiz}}
        {{#unless lessonFinished}}
        <div class='row lesson-continue'>
          <button class='btn btn-primary continue btn-sm' disabled>Continue <span class='fa fa-step-forward'></span></button>
        </div>
        {{else}}
        <div class='row lesson-home'>
          <a class='btn btn-danger lesson-home btn-sm' href='/lessons'>Lessons Home <span class='fa fa-home'></span></a>
        </div>
        {{/unless}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name='section'>
<div class='sectionWrapper'>
{{#if current}}
  <h1 style='text-align: center; margin-top: 4px;'><span class='label label-danger' title='{{lessonLastViewed}}'><span class='fa fa-graduation-cap'></span>&nbsp;{{lessonTitle}}</span></h1>
  <h2 style='margin-top: 0px; text-align: center;'><span class='label label-info'><span class='fa fa-folder-open'></span>&nbsp;{{title}}</span></h2>
  <nav class='lesson-section-steps'>
    <ul class='pagination'>
      <li><a class="partNav" style='font-weight: bold; color: white'><span class='fa fa-bookmark'></span></a></li>
      {{#each parts}}
        {{> partNav}}
      {{/each}}
    </ul>
  </nav>
  {{#each parts}}
    {{#if currentPart}}
      <!-- TODO: move this into a title attribute on the nav steps -->
      <!-- <h6 style='margin-top: -10px; margin-left: 4px; text-align: center;'><i>{{lastViewedPart}}</i></h6> -->
      <div class='lesson-section-step-users'>{{> lessonStepUsers options=options}}</div>
      <hr />
      {{> Template.dynamic template=type data=this}}
    {{/if}}
  {{/each}}
{{/if}}
</div>
</template>

<template name='sectionNav'>
  <li role="presentation" class="{{current}} lesson-section-nav-container"><a href="#" class='sectionNav' title='{{lastViewed}}'>{{title}}
    <br />
    <span class='badge {{seenBadge}}'><i class="fa {{seenStar}}"></i></span></a>
  </li>
</template>

<template name='partNav'>
{{#if current}}
  <li class='active'><a href="#" class='partNav'>{{partIndex}}</a></li>
{{else}}
  <li><a href="#" class='partNav'>{{partIndex}}</a></li>
{{/if}}
</template>

<template name='paragraph'>
  <div class='lesson-part alert' id='part{{index}}'>
    <p class='paragraph'>
      {{{text}}}
    </p>
  </div>
</template>

<template name='quickCheck'>
  <div id='part{{index}}'>
    <section class='quickCheck'>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <span class='title'><span class='fa fa-graduation-cap'></span> Quick Check:  {{{title}}}</span>
          </h4>
        </div>
        <div class="panel-body">
          {{{text}}}
          <br />
          <div class="input-group">
            <input type='text' class='quickCheckInput form-control' />
            <span class="input-group-btn">
              <button class='btn btn-success quickCheckSubmit'>Check answer <span class='fa fa-check'></span></button>
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<template name='popquiz'>
  <div id='part{{index}}'>
    <section class='popquiz'>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#quiz" aria-expanded="true" aria-controls="quiz">
                <span class='title'><span class='fa fa-graduation-cap'></span> Pop Quiz</span>
              </a>
            </h4>
          </div>
          <div id="quiz" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              {{#each questions}}
                {{> question}}
              {{/each}}
              {{#if finished}}
                {{> popquizReview}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<template name='question'>
  {{#if current}}
  <section class='question'>
    <h4>#{{questionNumber}} of {{questionCount}}: {{{title}}}</h4>
    <div class="btn-group" data-toggle="buttons">
      {{#each addIndex choices}}
      <label class="btn btn-default choice">
        <input type='radio' name='choices' id='choice{{index}}' value='{{index}}' /> {{{value.text}}}
      </label>
      {{/each}}
    </div>
    &nbsp;<button class='btn btn-info check'>Check Answer <span class='fa fa-check'></span></button>
    <div class='feedback'></div>
    <p style='text-align:center; padding-top: 8px;'>
      <button class='btn btn-primary btn-sm prevQuestion' style='float:left;' {{prevDisabled}}><span class='fa fa-step-backward'> Previous</span></button>
      <button class='btn btn-primary btn-sm nextQuestion' style='float:right;' {{nextDisabled}}>Next <span class='fa fa-step-forward'></span></button>
    </p>
  </section>
  {{/if}}
</template>

<template name='popquizReview'>
  <style>
  .greenChecked {
    background-color: darkgreen !important;
  }
  </style>
  {{#each questions}}
    <h4>{{{title}}}</h4>
    <div class='btn-group' data-toggle='buttons'>
      {{#each addIndex choices}}
        {{> popquizChoiceReview question=../index choice=this}}
      {{/each}}
    </div>    
    {{> popquizQuestionReview question=index popquiz=this}}
  {{/each}}
</template>

<template name='popquizChoiceReview'>
  <label class='btn btn-default choice {{active}} {{correct}}'>
    <input type='radio' name='choices' id='choice{{choice.index}}' value='{{choice.index}}' /> {{{choice.value.text}}} {{{attempt}}}
  </label>
</template>

<template name='popquizQuestionReview'>
  <div class='feedback-{{question}}'></div>
</template>