<template name='lesson'> 
  <div class='container-fluid'>
    <section class='row'>
      <article class='lesson'>
        <h1>{{lesson.title}}</h1>
        {{#each lesson.sections}}
        <h2>{{title}}</h2>
        {{#each paragraphs}}
        <p>{{{this}}}</p>
        {{/each}}
        {{/each}}

        <section class='popquiz'>
          <div class='title'><span class='fa fa-graduation-cap'></span> Pop Quiz</div>
          {{#each lesson.questions}}
          {{> question}}          
          {{/each}}
        </section>

        <h2>Code Challenge!</h2>
        <p>Now, you're ready to write some code. Never seen code before? Don't worry, we're going to tell you what to type at first. It's best to just dive right in, so click the button below to take the code challenge!
        </p>
        <a class='btn btn-success challengeShow'>Take code challenge <span class='fa fa-code'></span></a>
      </article>
    </section>
  </div>
</template>

<template name='question'>
  <section class='question'>
    <h4>{{title}}</h4>
    <div class="btn-group" data-toggle="buttons">
      {{#each addIndex choices}}
      <label class="btn btn-default choice">
        <input type='radio' name='choices' id='choice{{index}}' value='{{index}}' /> {{{value.text}}}
      </label>
      {{/each}}
    </div>
    &nbsp;<button class='btn btn-success check'>Check answer <span class='fa fa-check'></span></button>
    <div class='feedback'></div>
  </section>
</template>
