body {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: inherit;
}

.lesson-menu-show {
  position: fixed;
  top: 12px;
  display: none;
}

.lesson-menu-hide {
  float: left;
}

.lesson-title {
  white-space: pre-wrap;
}

.lesson-details-link {
  font-size: 60%;
  margin-bottom: 4px;
}

#lessonDescription {
  text-align: left;
  background-color: black;
  color: white;
}

.lesson-sections-title-container {
  text-align: center;
}

.lesson-sections-title-container h3 {
  display: inline-block;
}

.lesson-parts {
  background-color: rgba(141,6,58,0.5);
}

.lesson-part {
  padding: 8px;
}

.lesson-continue, .lesson-home {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.lesson-sections {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #333;  
  margin-bottom: 16px;  
}

.lesson-sections h3 {
  margin-top: 0;
}

.lesson-section-nav-container {
  margin-bottom: 12px;
}

.lesson-section-nav-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.lesson-section-nav {
  font-size:55%; 
  text-align:center;
  margin-top: 2px;
  margin-bottom: 0px;
  background: #222;
}

.lesson-section-steps {
  text-align: center;
}

.lesson-section-steps .pagination {
  margin-top: 0px;
}


.lesson-step-footer {
  background-color: #333;
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 5px solid #7a8288;
}

.lesson-self-assessment {
	text-align: center;
}

.less-self-assessment-in-step {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.lesson-section-fullscreen-left-shim {
  margin-left: 50px;
}

.sectionWrapper {
  margin-top: 14px;
  font-family: verdana, sans-serif;
  line-height: 1.5;
  font-size: 150%;
}

.sectionNav {

}

.sectionNav .badge {
  margin-top: 6px;
}

.lesson-section-position-heading {
  text-align: center;
}

.lesson-section-position-heading h3 {
  margin-top: 0;
}

.lesson-section-step-users {
  margin-top: 4px;
}

.lesson-mastery-zone {
  background-color: #333;
  text-align: center;
  position: fixed;
  padding-bottom: 12px;
  top: 0px;
  right: 0px;
  font-size: 80%;
}

.lesson-mastery-zone-label {
  margin-top: 12px;
}

.lesson-mastery-zone-help-requests {
  margin-top: 12px;
}

.lesson-section-nav-parts {
  background-color: #232628;
  padding: 4px;
}

.lesson-section-nav-unselected {
  background-color: transparent;
}

.lesson-section-nav-parts-part {
  margin-left: 12px;
  margin-bottom: 4px;
}

a.lesson-section-nav-parts-part-link {
  text-decoration: none;
}

.editor {
  width:98%;
  height:350px;
}   
        
iframe {
    padding: 0;
    margin: 0;
    border: none;
}    

.stepCode {
  background-color: #333;
  color: #f7f7f7;
  font-family: Consolas, 'Andale Mono', 'Courier New', Courier, monospace;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.stepPrompt {
  color: rgb(204, 204, 204);  
}    
    
.output {   
  display: block;
  white-space: pre;
  width: 100%;
  padding: 0;
  border: 0 none;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: #333;
}
    
.output .command {
  color: #ccc;
}

.output .error {
  color: #f77;
}

.output span {
  color: #fff
}
    
.output .prefix {
  color: #777;
}    

.output .string {
  color: #99f;
}
    
.output .number {
  color: #7f7;
}
    
.output .boolean {
  color: #fff;
}  

.output .undefined {
  color: #777;
}
    
.explanation {
  display: none;
}
    
.feedback {
  margin-top: 5px;
  display: none;
}

.popquiz {
  background-color: #333;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}
  
.popquiz .title {
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}   
    
.quickCheck {
  background-color: #333;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}
  
.quickCheck .title {
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ace_gutter-cell {
  color: whitesmoke !important;
}