<template name='lessonStepUsers'>
<span class='label label-default lesson-step-users-helpees'>
<span class='fa fa-hand-stop-o'></span>
{{#each helpeeUsers}}
	<span class='label label-default lesson-step-users-helpee {{helpeeClass}}'>
		{{> profileLink name=this.userName target='_blank' }}
		{{#if pending}}
		<span class='fa fa-clock-o' title='{{this.helpOfferredByUserName}}'></span>
		{{/if}}
		{{#if canOfferHelp}}
		<span class='dropdown'>
			<button class='btn btn-primary dropdown-toggle btn-xs lesson-step-user-menu-button' type='button' id='{{this._id}}-menu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
				<span class='caret'></span>
			</button>
			<ul class='dropdown-menu' aria-labelledby='{{this._id}}-menu'>
				<li class='help-offer'><a href='#'><span class='fa fa-life-ring'></span> Offer help</a></li>
			</ul>
		</span>
		{{/if}}
		{{#if wantsMyHelp}}	
		<span class='dropdown'>
			<button class='btn btn-primary dropdown-toggle btn-xs lesson-step-user-menu-button' type='button' id='{{this._id}}-menu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
				<span class='caret'></span>
			</button>
			<ul class='dropdown-menu' aria-labelledby='{{this._id}}-menu'>
				<li class='help-request-accept'><a href='#'><span class='fa fa-life-ring'></span> Acccept help request</a></li>
				<li class='help-request-decline'><a href='#'><span class='fa fa-remove'></span> Decline help request</a></li>
			</ul>
		</span>
		{{/if}}
		{{#if pendingMyHelp}}
		<span class='dropdown'>
			<button class='btn btn-primary dropdown-toggle btn-xs lesson-step-user-menu-button' type='button' id='{{this._id}}-menu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
				<span class='caret'></span>
			</button>
			<ul class='dropdown-menu' aria-labelledby='{{this._id}}-menu'>
				<li class='help-offer-cancel'><a href='#'><span class='fa fa-remove'></span> Cancel help</a></li>
			</ul>
		</span>
		{{/if}}
	</span>
{{/each}}
</span> <span class='label label-default lesson-step-users-helpers'>
<span class='fa fa-life-ring'></span>
{{#each helperUsers}}
	<span class='label label-default lesson-step-users-helper {{helperClass}}'>
		{{> profileLink name=this.userName target='_blank' }}
		<span class='dropdown'>
			{{#unless someoneElseWantsHelp}}
				{{#if helpOfferredToMe}}
				<button class='btn btn-primary dropdown-toggle btn-xs lesson-step-user-menu-button' type='button' id='{{this._id}}-menu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
					<span class='caret'></span>
				</button>
				<ul class='dropdown-menu' aria-labelledby='{{this._id}}-menu'>
					<li class='help-offer-accept'><a href='#'><span class='fa fa-life-ring'></span> Accept help offer</a></li>
					<li class='help-offer-decline'><a href='#'><span class='fa fa-remove'></span> Decline help offer</a></li>
				</ul>			
				{{/if}}
				{{#if helpAcceptedByMe}}
				<button class='btn btn-primary dropdown-toggle btn-xs lesson-step-user-menu-button' type='button' id='{{this._id}}-menu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
					<span class='caret'></span>
				</button>
				<ul class='dropdown-menu' aria-labelledby='{{this._id}}-menu'>			
					<li class='help-request-understand' title='+200'><a href='#'><span class='fa fa-lightbulb-o'></span> Helped me understand</a></li>
					<li class='help-request-eyeball' title='+65'><a href='#'><span class='fa fa-eye'></span> Spotted an error</a></li>
					<li class='help-request-tried' title='+40'><a href='#'><span class='fa fa-thumbs-up'></span> Tried their best</a></li>
					<li class='help-request-didit' title='+10'><a href='#'><span class='fa fa-laptop'></span> Did it for me</a></li>					
					<li role="separator" class="divider"></li>
					<li class='help-request-cancel'><a href='#'><span class='fa fa-remove'></span> Cancel help</a></li>
				</ul>				
				{{/if}}
				{{#if requestHelpVisible}}
				<button class='btn btn-primary dropdown-toggle btn-xs lesson-step-user-menu-button' type='button' id='{{this._id}}-menu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
					<span class='caret'></span>
				</button>
				<ul class='dropdown-menu' aria-labelledby='{{this._id}}-menu'>
					<li class='help-request'><a href='#'><span class='fa fa-hand-stop-o'></span> Request help</a></li>
				</ul>
				{{/if}}
				{{#if requestHelpCancelVisible}}
				<button class='btn btn-primary dropdown-toggle btn-xs lesson-step-user-menu-button' type='button' id='{{this._id}}-menu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
					<span class='caret'></span>
				</button>
				<ul class='dropdown-menu' aria-labelledby='{{this._id}}-menu'>			
					<li class='help-request-cancel'><a href='#'><span class='fa fa-remove'></span> Cancel help request</a></li>
				</ul>
				{{/if}}
			{{/unless}}
			{{#if someoneElseWantsHelp}}
 			<span class='fa fa-clock-o' title='{{this.helpRequestedByUserName}}'></span>
			{{/if}}
		</span>
	</span>
{{/each}}
</span>
<span class='label label-default lesson-step-users-current'>
<span class='fa fa-users'></span>
{{#each users}}
      <span class='label label-default lesson-step-users-understand-{{this.sense}}'>{{> profileLink name=this.userName target='_blank'}}</span>
{{/each}}
</span>
</template>