.lesson-step-users-vertical {
	display: block;
}

.lesson-step-users-horizontal {
	display: inline;
}

.lesson-step-users-label {
	margin-top: 2px;
}

.lesson-step-users-icon {
	text-align: center;
}

.lesson-step-users-current {
	font-size: 80%;
	padding: 4px;
}

.lesson-step-users-understand- { /* for those who have not marked an understanding yet */
	background-color: darkblue;
}

.lesson-step-users-understand-not {
	background-color: #ee5f5b;
	font-size: 80%;
}

.lesson-step-users-understand-almost {
	background-color: #f89406;
	font-size: 80%;
}

.lesson-step-users-understand-yes {
	background-color: #62c462;
	font-size: 80%;	
}

.lesson-step-users-helpees {
	background-color: goldenrod;
	font-size: 80%;
	padding: 4px;
}

.lesson-step-users-helpee {
	margin-right: 4px;
	display: inline-block;
}

.lesson-step-users-helpees-from-me {
	padding: 1px 2px 2px 2px;
	font-size: 80%;
}

.lesson-step-users-helpees-from-me a {
	color: black;
}

.lesson-step-users-helpees-from-me.offerred {
	background-color: skyblue;
}

.lesson-step-users-helpees-from-me.requested {
	background-color: lightgray;
}

.lesson-step-users-helpees-from-me.confirmed {
	background-color: lime;
}

.lesson-step-users-helpers {
	background-color: blueviolet;
	font-size: 80%;
	padding: 4px;
}

.lesson-step-users-helper {
	margin-right: 4px;
	display: inline-block;
}

.lesson-step-users-helpers-for-me {
	padding: 1px 2px 2px 2px;
	font-size: 80%;
}

.lesson-step-users-helpers-for-me a {
	color: black;
}

.lesson-step-users-helpers-for-me.offerred {
	background-color: lightgray;
}

.lesson-step-users-helpers-for-me.requested {
	background-color: skyblue;
}

.lesson-step-users-helpers-for-me.confirmed {
	background-color: lime;
}

.lesson-step-user-menu-button {
	font-size: 60%;
	background: transparent !important;
	border: none;
	margin-bottom: 2px;
}

.lesson-step-user-menu-button:hover {
	background: transparent !important;
	border: none;
}