<template name='editor'>
  <div class='container-fluid editor'>
    <div class='row'>
      <div class='col-sm-12'>
        {{> Template.dynamic template=templateName data=templateDataContext}}
      </div>
    </div>
    <div class='row'>   
      <div class='col-sm-12'>
        <div role='tabpanel'>
          <ul class='nav nav-tabs' role='tablist'>
            <li role='presentation' class='active'><a href='#{{editorTabId}}' aria-controls='editor' role='tab' data-toggle='tab'>Editor</a></li>
            <li role="presentation"><a href='#{{consoleTabId}}' aria-controls='console' role='tab' data-toggle='tab'>Console</a></li>
          </ul>
          <div class='tab-content'>
            <div role='tabpanel' class='tab-pane active' id='{{editorTabId}}'>
              {{> editorProgram }}
            </div>
            <div role='tabpanel' class='tab-pane' id='{{consoleTabId}}'>
              <iframe src='/lessonSmall.html' style='width:100%; height:560px;'></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>