<template name='missionControl'>

<div class='container-fluid'>
  <div class='row'>
  <h1 style='text-align: center'><span class='label label-warning'><span class='fa fa-search'></span> Mission trainee tracking system</span></h1>
  <h2 style='text-align: center'><span class='label label-info'><span class='fa fa-globe'></span> {{missionProjectTitle}}</span></h2>
  {{#each currentViewers}}
    <button class="col-xs-12 btn btn-lg btn-{{randomBackgroundColor}}">
      <h3><span class='label label-{{randomBackgroundColor}}'>{{missionStepIndex}}: {{missionStepTitle}}</span></h3>
      <h4>{{missionStepViewers.length}} trainee(s):</h4>
      {{#each missionStepViewers}}
      <span class='label label-{{randomBackgroundColor}}'>{{userName}}</span>&nbsp;
      {{/each}}
    </button>      
  {{/each}}  
  </div>
</div>  
  
</template>