<template name='missionControl'>

<div class='container-fluid'>
  <div class='row'>
    <h1 style='text-align: center'><span class='label label-warning'><span class='fa fa-search'></span> Mission Trainee Tracker: {{missionProjectTitle}}</span></h1>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
      <h2 style='text-align: center'><span class='label label-primary'>Prescence</span></h2>
      <br/>
    {{#each currentViewers}}      
      <button class="col-xs-12 btn btn-lg btn-{{randomBackgroundColor}}">
        <h3><span class='label label-{{randomBackgroundColor}}'>{{missionStepIndex}}: {{missionStepTitle}}</span></h3>
        <h4>{{missionStepViewers.length}} trainee(s):</h4>
        {{#each missionStepViewers}}
        <span class='label label-{{randomBackgroundColor}}'>{{userName}}</span>&nbsp;
        {{/each}}
      </button>      
    {{/each}}      
    </div>   
    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
      <h2 style='text-align: center'><span class='label label-info'>Comprehension</span></h2>
      <br/>
      {{#each stepAssessments}}
      <button class="col-xs-12 btn btn-lg btn-{{randomBackgroundColor}}">
        <h3><span class='label label-{{randomBackgroundColor}}'>{{key}}</span></h3>      
        <br/>
        {{#each value}}
        <div class='{{klass key}}' style='padding: 8px; font-size: 125%'><span class='fa fa-lg {{icon key}}'></span> {{value}}</div>
        {{/each}}
      </button>
      {{/each}}      
    </div>
  </div>
</div>  
  
</template>