.association {
  background: #333;
  padding: 4px;
}

.association .asc-topic {
  background: blue;
  display: block;
  font-weight: bold;
}
.association {
  display: table;
  border-collapse: collapse;
}

.association .asc-item {
  background: purple;
  display: block;  
  cursor: move;
}

.association .asc-element {
  border: 2px solid #333;
  padding: 8px;
  max-height: 60px;
  height: 60px;
  display: table-row;
  border-collapse: collapse;  
  width: 100%;
}

.association .asc-element .fa-arrow-up {
  cursor: pointer;
  margin-right: 5px;
  padding: 4px;
  text-align: center;  
}

.association .asc-element .fa-arrow-down {
  cursor: pointer;
  margin-left: 5px;
  padding: 4px;
}

.association .asc-correct {
  background: green;
}

.association .asc-incorrect {
  background: red;
}

.association .asc-item .moveUp {
    display: table-cell;
}

.association .asc-item .moveDown {
    display: table-cell;
    vertical-align: bottom;
}

.association .asc-label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.association .asc-element .fa-question-circle {  
  display: table-cell;
  padding: 4px;
  margin-right: 5px;
  vertical-align: middle;  
  text-align: center;
}