<template name="association">
<div class="association well well-sm container-fluid">
  <div class="col-xs-6">
  {{#each items.topics}}
  {{> associationTopic}}
  {{/each}}
  </div>
  <div class="col-xs-6">
  {{#each items.items}}
  {{> associationItem}}
  {{/each}}
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success btn-sm checkAnswers">Check answers</button>  <span class="label label-primary asc-tally"></span>
  </div>
</div>
</template>

<template name="associationTopic">
  <div class="{{type}} asc-element">
    <div class="fa fa-question-circle"></div><div class="asc-label">{{{label}}}</div><div class="moveDown"></div></div>
</template>

<template name="associationItem">
  <div class="{{type}} asc-element"><div class="fa fa-arrow-up moveUp"></div><div class="asc-label">{{{label}}}</div><div class="fa fa-arrow-down moveDown"></div></div>
</template>
<!--
<template name="association">
<div class="association well well-sm">
  {{#each items}}
  {{> associationItem}}
  {{/each}}
  <br/>
  <button class="btn btn-success btn-sm checkAnswers">Check answers</button>  <span class="label label-primary asc-tally"></span>
</div>
</template>

<template name="associationItem">
  <div class="{{type}} asc-element"><i class="fa fa-arrow-up moveUp"></i>{{{label}}}<i class="fa fa-arrow-down moveDown"></i></div>
</template>
-->