<template name="profile">
  <section class='profile'>
    <h1>{{nickName}}</h1>
    {{#unless isNotSelf}}
    <h1><span class='label label-success'><span class= 'fa fa-play-circle-o'></span>&nbsp;<a href='{{mostRecentLessonLink}}'>Continue:&nbsp;{{mostRecentLesson}}</a></span></h1>
    {{/unless}}
    {{#if isNotSelf}}
      {{#unless following}}
      <h3><button class='btn btn-success follow'>Follow {{nickName}} <span class='fa fa-bell'></span></button></h3>
      <p>You will receive email notification when {{nickName}} releases worlds</p>
      {{/unless}}
      {{#if following}}
      <h3><button class='btn btn-danger unfollow'><b>Unfollow</b> <span class='fa fa-bell-slash'></span></button></h3>
      <p>You will no longer receive email notification when {{nickName}} releases worlds</p>
      {{/if}}
    {{/if}}
    <div class='container-fluid'>
      <div class='col-md-7 col-sm-12'>
        <h2><span class='label label-info'><span class='fa fa-trophy'></span>&nbsp;Worlds by {{ownerName}}</span></h2>
        {{#if isNotSelf}}
        <p>You can play them</p>
        {{else}}
        <p>You can edit or delete them</p>
        {{/if}}
        <div class='levelsContainer levels container-fluid'>
          <div class='col-md-12'>
            <div class="row">
            {{#each levels}}
              {{> level}}
            {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-5 col-sm-12'>
        <h2><span class='label label-info'><span class='fa fa-code'></span>&nbsp;Programs by {{ownerName}}</span></h2>
        <p>These are programs built by {{ownerName}} during lessons</p>
        <div class='profilePrograms'>
          {{#each dynamos}}
            {{> dynamo name=this.name options='{"mode":"view"}' userId=userId }}
            <p style='margin-top:8px'>&nbsp;</p>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</template>