<template name="profile">
  <section class='profile'>
    <h1>{{nickname}}</h1>
    <h1><span class='label label-success'><span class= 'fa fa-play-circle-o'></span>&nbsp;<a href='{{mostRecentLessonLink}}'>Continue:&nbsp;{{mostRecentLesson}}</a></span></h1>
    <div class='container-fluid'>
      <div class='col-md-7 col-sm-12'>
        <h2><span class='label label-info'><span class='fa fa-trophy'></span>&nbsp;Your Worlds</span></h2>
        <p>You can edit or delete them</p>
        <div class='levelsContainer levels container-fluid'>
          <div class='col-md-12'>
            <div class="row">
            {{#each levels}}
              {{> level}}
            {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-5 col-sm-12'>
        <h2><span class='label label-info'><span class='fa fa-code'></span>&nbsp;Your Programs</span></h2>
        <p>These are programs you've built during lessons</p>
        <div class='profilePrograms'>
          <p>&nbsp;</p>
          {{#if hasProgram 'message'}}
            {{> dynamo name='message' options='{"mode":"view"}' }}
          {{/if}}
          {{#if hasProgram 'user-data'}}
            {{> dynamo name='user-data' options='{"mode":"view"}' }}
            <hr />
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</template>